html {
	color: black;
	background: #efc696;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	background: white;
}

div.main {
	padding: 0.5cm;
	max-width: 100em;
	margin-left: auto;
	margin-right: auto;
}

div.heading p {
	text-align: right;
}
div.heading p.author a:hover {
	background: #ffefa1;
}

div.heading div {
	text-align: center;
}

div.pages {
	margin-bottom: 4px;
}

div.pages span {
	border: 1px solid #c17419;
}

div.pages a {
	text-decoration: none;
	color: blue;
}

div.pages span + span {
	border-left: 0;
}

div.heading span.selected {
	background: #ffefa1;
}
div.heading span.selected:hover {
	background: #ffefa1;
}

div.heading span:hover {
	background: #d9a05c;
}

div.heading {
	color: black;
	background: #efc696;
	margin: 0;
	padding: 1em;
	border: 0;
}

div.main a:hover {
	background: yellow;
}

h1 {
	text-align: center;
}

h2:first-child {
	margin-top: 1em;
}

h2 {
	margin-top: 4em;
}

th {
	text-align: left;
}

td {
	vertical-align: top;
	width: 50%;
}

p.q {
	font-style: italic;
	font-weight: bold;
}

div.note {
	border: 1px solid black;
	color: black;
	background: #eee;
	padding: .2cm;
	text-align: center;
	margin: 2px 4em 2px 4em;
}

div.note h3 {
	text-align: center;
}

div.stop h3 {
	text-align: center;
}

div.stop {
	background: #fbb;
	color: black;
	border: 1px solid black;
	padding: .2cm;
	text-align: center;
	margin: 2px 4em 2px 4em;
}

pre {
	background: #eee;
	color: black;
	padding: 0.2cm;
}

img {
	border: none;
}

p.zero {
	border-left: 2px solid #888;
	margin-left: 2em;
	padding-left: 2em;
}

tt {
	font-weight: bold;
}

dt {
	font-weight: bold;
}

div.heading p.thanks {
	text-align: center;
	font-size: small;
	color: #836d52;
}
